///////////////////////
// GIT IGNORE
///////////////////////


///////////////////////
// JAVA FILES
///////////////////////
.class
.jar

///////////////////////
// INTELLIJ FILES
///////////////////////
.iml
.idea

///////////////////////
// BUILD AND OUTPUT
///////////////////////
out